/* Custom Fonts */
@font-face {
  font-family: Poppins;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&display=swap');
  font-weight: Thin 100 Italic;
}

/************************Default CSS************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Poppins', sans-serif !important;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/************************NavBar CSS************************/

/* Ensures the navbar takes the full width */
.navbar {
  width: 100%;
  padding: 1.5rem 0; /* Increase the vertical padding to add height */
}

/* Styles the navbar with a dark background */
#header {
  background-color: #343a40; /* Bootstrap's dark theme color */
  position: fixed;
}
/* Applies styles to the brand name in the navbar */
.navbar-brand {
  color: #ffffff; /* Sets the text color to white */
  font-size: 1.5rem; /* Adjust the size as needed */
  font-weight: bold; /* Makes the brand name bold */
  margin-right: 2rem; /* Adds some space after the brand name */
  margin-left: 1rem;
  text-decoration: none; /* Removes the underline from the brand name */
}

/* Styles for navigation links */
.nav-link {
  color: #9da5b1; /* Light grey color for the links for contrast against the dark background */
  font-size: 1rem; /* Size of the nav links */
  padding: 0.5rem 1rem; /* Top and bottom padding with some horizontal padding */
  margin: 0 0.5rem; /* Adds some margin between the links */
  transition: color 0.3s; /* Smooth transition for color change on hover */
}

/* Changes the color of nav links on hover to give feedback to the user */
.nav-link:hover {
  color: #ffffff; /* White color on hover for better visibility */
}

/* Additional styles for active or current page link indicator */
.nav-link.active {
  color: #ffffff; /* Makes the active link more prominent */
  border-bottom: 2px solid #ffffff; /* Underlines the active link */
}

/* Container within the Navbar for better spacing and layout */
.container {
  display: flex; /* Uses flexbox for layout */
  justify-content: space-between; /* Spaces out the logo and the nav items */
  align-items: center; /* Vertically centers the items within the navbar */
}

/* Ensures the navbar is responsive on smaller screens */
@media (max-width: 768px) {
  .navbar .header {
    flex-direction: column; /* Stacks the items vertically on smaller screens */
  }

  .navbar-brand {
    margin-bottom: 1rem; /* Adds some space below the brand on smaller screens */
  }

  .nav-link {
    text-align: center; /* Centers the links */
    padding: 0.25rem 1rem; /* Adjusts padding for a tighter layout */
  }

  .nav {
    width: 100%; /* Makes the nav take full width */
  }
}

/************************Footer CSS************************/

#app-container {
  display: flex;
  /*flex-direction: column;*/
}

#content-wrap {
  flex: 1;
}

.copyright {
  margin-right: 1.5rem;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #343a40;
  padding: 1.5rem 0;
  width: 100%;
}

/************************Home CSS************************/
@keyframes fadeIn {
  0% {opacity: 0; }
  80% {opacity: 0.8;}
}

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

#imgRight {
  width: auto;
  height: auto;
}

#img {
  height: auto;
  width: 60%;
  margin-top: 15%;
  margin-left: 10%;
  opacity: 80%;
  border-radius: 50%;
  animation: bounce-in-right 2s ease;
}


#grid {
  display: grid;
  grid-template-areas:
    'header'
    'menu'
    'menu';
  margin-top: 3rem;
  margin-bottom: 1rem;
  margin-left: 6rem;
  height: auto;
  width: auto;
  background-color: #343a40;
  border-radius: 15%;
  animation: fadeIn 5s;
}

#grid > h1, h3 {
  margin: 0.5rem;
  padding: 1rem;
  color: #ffffff;
}


/************************Skills CSS************************/
@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% { transform: scale(.9); }
  100% { transform: scale(1); }
}

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

@keyframes bounce-in-left {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}

#skills-main {
  text-align: center;
  padding-top: 14rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 14rem;
}

#skills-main > .row{
  padding: 2rem;
  background-color: #343a40;
  border-radius: 15%;
}

#skills-main > :nth-child(1) {
  animation: bounce-in-left 2s ease-in;
}

#skills-main > :nth-child(2) {
  animation: bounce-in 2s ease;
}

#skills-main > :nth-child(3) {
  animation: bounce-in-right 2s ease-in;
}

/************************Projects CSS************************/

#projects-main {
  justify-content: center;
  padding-top: 20rem;
  padding-bottom: 20rem;
  width: 100%;
}

#link, #link:hover {-webkit-transition: color 0.5s ease-out;-moz-transition: color 0.5s ease-out;-ms-transition: color 0.5s ease-out;-o-transition: color 0.5s ease-out;transition: color 0.5s ease-out;}

/** BEGIN CSS **/
        body {background: #333333;}
        @keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        .loading-container,
        .loading {
            height: 200px;
            position: relative;
            width: 200px;
            border-radius: 100%;
        }

        .loading-container { margin: 50px auto }

        .loading {
            border: 2px solid transparent;
            border-color: transparent #fff transparent #FFF;
            animation: rotate-loading 1.5s linear 0s infinite normal;
            transform-origin: 50% 50%;
        }

        .loading-container:hover .loading {
            border-color: transparent #E45635 transparent #E45635;
        }
        .loading-container:hover .loading,
        .loading-container .loading {
            transition: all 0.5s ease-in-out;
        }

        #loading-text {
            animation: loading-text-opacity 2s linear 0s infinite normal;
            color: #ffffff;
            font-family: "Helvetica Neue, "Helvetica", ""arial";
            font-size: 20px;
            font-weight: bold;
            margin-top: 85px;
            opacity: 0;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            top: 0;
            width: 200px;
        }